@use "helper" as *;
@use "container" as container;
@use "color" as color;

:root {
  --focus-visible-outline: solid 0.125rem var(--color-opposite, var(--default-accent-color));
}

:where(*, *::before, *::after) {
  box-sizing: border-box;
}

:where(*) {
  margin: 0;
  padding: 0;
}

:where(:focus-visible) {
  outline: var(--focus-visible-outline);
}

:where(html) {
  background-color: hsl(from color.get("initial") h s l / 0.125);
  color: var(--default-text-color);
  color-scheme: var(--color-scheme);
  font-family: sans-serif;
}

:where(body) {
  accent-color: var(--default-accent-color);
  background-color: var(--default-background-color);
  font-size: clamp(0.75rem, 0.4cqi + 0.75rem, 2.25rem);
  min-block-size: 100dvb;
  padding: min(1rem, 2.5%);

  * {
    color: inherit;
  }
}

:where(h1, h2, h3, h4, h5, h6, p) {
  line-height: 1.4;

  &:has(+ *) {
    margin-block-end: 0.25em;
  }
}

:where(h1, h2, h3, h4, h5, h6) {
  max-inline-size: 50ch;
  text-wrap: balance;
}

:where(h5, h6) {
  font-size: 1em;
}

:where(p) {
  max-inline-size: 65ch;
  text-wrap: pretty;

  &:has(+ *:not(&)) {
    margin-block-end: 0.5em;
  }
}

:where(a) {
  color: light-dark(
    var(--color-accent-dark, var(--default-accent-color)),
    var(--color-accent-light, var(--default-accent-color))
  );
}

:where(form) {
  --inner-spacing: 0.25rem;
  --outer-spacing: 1rem;
  --input-box-shadow: inset 0 0 0 0.0625rem hsl(from currentColor h s l / 0.25);

  label,
  input,
  textarea,
  select {
    font: inherit;
    max-inline-size: 65ch;
  }

  label,
  fieldset {
    row-gap: calc(var(--inner-spacing) * 1.25);
  }

  label:not(:has([type="radio"], [type="checkbox"])),
  fieldset {
    margin-block-end: var(--outer-spacing);
  }

  label:not(:has([type="radio"], [type="checkbox"])),
  fieldset:not([data-flow="column"]) {
    display: grid;
  }

  label:has(input, textarea) {
    cursor: pointer;
  }

  fieldset {
    border-width: 0;
    place-content: start;

    &[data-flow="column"] {
      column-gap: var(--inner-spacing);
      display: flex;
      flex-wrap: wrap;
    }
  }

  label:where(:not(:has([type="radio"], [type="checkbox"]))),
  legend {
    font-weight: bold;
  }

  legend {
    margin-block-end: var(--inner-spacing);
  }

  input,
  textarea,
  select {
    font-weight: revert;
  }

  input:where(:not([type="radio"], [type="checkbox"])),
  textarea,
  select {
    background-color: var(--default-background-color);
    border-width: 0;
    box-shadow: var(--input-box-shadow);
    inline-size: 100%;
    padding: 0.5em 0.75em;
  }

  textarea {
    resize: vertical;
  }

  input:where([type="radio"], [type="checkbox"]) {
    block-size: 1lh;
    inline-size: 0.85lh;
    vertical-align: bottom;
    cursor: pointer;

    label[data-icon]:has(&) {
      display: flex;

      input {
        order: -1;
      }

      &[data-icon="only"] {
        --icon-margin: var(--inner-spacing);

        box-shadow: var(--input-box-shadow);
        
        &:has(input:checked) {
          background-color: var(--default-accent-color);
          color: light-dark(var(--color-white), currentColor);
        }
        
        input {
          @extend .sro;
        }
      }
    }

    &:focus-visible {
      outline-width: 0;

      label:has(&) {
        outline: var(--focus-visible-outline);
      }
    }
  }
}

:where(button) {
  background-color: light-dark(color.get("accent"), color.get("accent-dark"));
  border-width: 0;
  color: color.get("white");
  cursor: pointer;
  font-size: inherit;
  padding: 0.5em 0.75em;
}

:where(hr) {
  color: var(--default-accent-color);
  margin-block: 1rem;
}

html.center-page-content body {
  display: grid;
  min-inline-size: fit-content;
  place-content: center;
}

[data-icon] {
  --icon-size: 1lh;
  --icon-color: currentColor;
  --icon-spacing: 0.25ch;
  --icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0iTTQgMTR2NC40YS42LjYgMCAwIDAgLjYuNkgxMG05LTV2NC40YS42LjYgMCAwIDEtLjYuNkgxNG0wLTE0aDQuNGEuNi42IDAgMCAxIC42LjZWMTBNNCAxMFY1LjZhLjYuNiAwIDAgMSAuNi0uNkgxMG00IDE0djFhMiAyIDAgMSAxLTQgMHYtMW0tNi05aDFhMiAyIDAgMSAxIDAgNEg0bTE1LTRoMWEyIDIgMCAxIDEgMCA0aC0xbS01LTlWNGEyIDIgMCAxIDAtNCAwdjEiLz48L3N2Zz4=");


  &::before,
  &::after {
    background-color: var(--icon-color);
    block-size: var(--icon-size);
    display: inline-block;
    inline-size: var(--icon-size);
    mask-image: var(--icon);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    vertical-align: bottom;
  }

  &[data-icon=""]::before,
  &[data-icon="start"]::before,
  &[data-icon="only"]::before {
    content: "";
  }

  &[data-icon=""]::before,
  &[data-icon="start"]::before {
    margin-inline-end: var(--icon-spacing);
  }

  &[data-icon="end"]::after {
    content: "";
    margin-inline-start: var(--icon-spacing);
  }

  &[data-icon="only"] {
    --icon-margin: 0em;
    --icon-parent-size: calc(var(--icon-size) + var(--icon-margin) * 2);
    
    block-size: var(--icon-parent-size);
    display: flow-root;
    inline-size: var(--icon-parent-size);
    overflow: hidden;

    &::before {
      margin: var(--icon-margin);
    }
  }
}

dl[aria-label="Colors"] {
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));

  &,
  div {
    display: grid;
  }

  div {
    gap: 0.125rem;
  }

  dd {
    display: flex;
    overflow: hidden;
    text-wrap: nowrap;

    &::before {
      background-color: var(--dd-color);
      block-size: 1lh;
      content: "";
      display: block;
      flex-shrink: 0;
      inline-size: 100%;
    }
  }
}

body > span[data-icon] {
  display: block;

  & + & {
    margin-block-start: 0.25em;
  }
}
