dl[aria-label="Colors"] {
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));

  &,
  div {
    display: grid;
  }

  div {
    gap: 0.125rem;
  }

  dd {
    display: flex;
    overflow: hidden;
    text-wrap: nowrap;

    &::before {
      background-color: var(--dd-color);
      block-size: 1lh;
      content: "";
      display: block;
      flex-shrink: 0;
      inline-size: 100%;
    }
  }
}

main > span[data-icon] + br {
  display: revert;
}

main > span[data-icon="only"]:hover {
  text-wrap: revert;
  grid-template-columns: auto auto;
}

fieldset:has(label[data-icon="only"]) {
  counter-reset: options 0;

  label:has([type="radio"], [type="checkbox"]) {
    position: relative;
  
    &::after {
      content: counter(options);
      counter-increment: options;
      position: absolute;
      place-self: center;
      font-size: calc(var(--icon-size) * 0.5);
    }
  }
}

